body {
  background-color: #060606b9;

  color: #ffcc00;
  width:max-content;
  margin:auto;
  font-family: "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "MS Ｐ明朝" , "MS PMincho" , serif;
}

button {
  padding: 5px 20px;
  color: #fdffff;
  background-color: #888888;
  border-style: none;
}

input {
  height: 24px;
}